*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: inter;
    src: url(Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
    font-family: DM;
    src: url(DMSerifDisplay-Regular.ttf);
}

body#polse_sider{
    background-color: #FFFDF6;
}

body{
    background-color: #FFFDF6;
}



/*HEADER_____________________________________________________________*/

#nav_laptop{
    text-align: right;
    top:0;
}

header  {position: fixed;
        width: 100%;
        z-index: 7;
        display: flex;
        justify-content: center;
        justify-content: space-between;}

#header2    {display: flex;
            margin-top: 5vh;}

#header2 a {margin-right: 2vw;}
#header2 img {width: 4vw;}
#hvemervi{margin-top: 2vh;} 


#to_undersider {
    position: absolute;
    z-index: 7;
    background-color: pink;
    position: relative;
    top:0;
    margin-bottom: -10%;
}

#logo{
    z-index: 8;
    position: relative;
    width: 8vw;
    margin: 2vw;
}

#stot {
    font-family: DM;
    letter-spacing: 2px;
    color: #CB2525;
    font-size: larger;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    margin-left: 10%;
}

#stot:hover {
    color: black;
}

/* BURGERMENU____________________________________________________*/

#burgermenudiv  {position: absolute;
                z-index: 7;
                top:0;
                width: 100vw;
                height: 100vh;
                display: none;}

#burgermenu-indhold     {background-color: white;
                        padding: 10%;
                        height: 100vh;
                        width: 100%;}

#burgermenu img{
    float: right;
    padding-top: 3.5%;
    width: 5vw;
    margin: 5%;
   }
   
#burgerkryds img{
    float: right;
    padding-top: 3.5%;
    width: 5vw;
    margin: 5%;
    position: relative;
   }

#nav_menu{
    display: none;
    height: 100vh;
}
   
#burgerkryds {
       display: none;
   }

   #burgermenudiv a{
    color: #CB2525;
   }

   .stor {
    padding-top: 20%;
    font-size: larger;
    color: #CB2525;
    font-family: DM;
   }


/*PØLSESIDER_____________________________________________________________*/
#forside-gif {
    position: relative;
    z-index: 5;
    margin-bottom: 13vh;
 }

main{
    overflow-x: hidden;
    display: flex;
    height: 100vh;
    align-items: center;
}

section {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indhold{
    position: relative;
    padding-top: 10vh;
}  

#hus {
    width: 30vw;
    position: absolute;
    z-index: 6;
    display: none;

}

#polsegif{
    position: absolute;
    z-index: 4;
    width: 100vw;

}

.overskrift {
    position: absolute;
    top: 0;
    margin-top: 10vh;
    z-index: 5;
}

#overskrift_forside {
    position: relative;
    z-index: 5;
}

#gif {
   margin-top: 10vh;
   position: relative;
   z-index: 5;
}

#tider {
    text-align: left;
    position: absolute;
    z-index: 6;
    margin-left: 50vw;
    margin-top: 60vh;
}

#forpagter { /*placeringen af forpagter navn + tlf*/
    text-align: right;
    position: absolute;
    z-index: 5;
    margin-left: 15%;
    margin-top: 73vh;
    color:#013789;
}

/*MENUSIDER_____________________________________________________________*/

#menu {
    z-index: 0;
    position: relative;
}

#polsemenu{
    display: flex;
    justify-content: center;
    width: 100%;

    z-index: 2;
    position: absolute;
    top: 0;
    margin-top: 20px;
}

#polsemenu p{
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 30px;
}

#polsemenu h2{
    z-index: 3;
    position: absolute;
    padding-top: 3px;
}

#venstre_menukort{
    margin-right: 50%;
    position: absolute;
    z-index: 1;
    top:0;
    padding-top: 80px;
}

#hojre_menukort {
    margin-left: 50%;
    position: absolute;
    z-index: 1;
    top:0;
    padding-top: 120px;
}

#season{
    position: relative;
    z-index: 5;
    bottom:0;
    margin-top: 150px;
}

/* HVEM ER VI SIDEN_____________________________________________________________*/


#baggrund{
    z-index: 3;
    top: 0;
    position: absolute;
    opacity: 0.5;
    width: 100vw;
}


#hvem_overskrift {
    width: 100vw;
    position: absolute;
    z-index: 3;
    text-align: center;
}

#hvem_overskrift p {
    text-align: center;
}

#forpagter_tekst {
    text-align: left;
    position: absolute;
    z-index: 3;
    margin-top: 150vh;
    padding-left: 12vw;
    font-size: 1.6vw;
}

#billede {
    width: 100vw;
    text-align: center;
    position: absolute;
    z-index: 3;
    margin-top: 280vh;
    padding-left: 30vw;
}

#billede img {width: 35vw;}

#historie_tekst {
    text-align: left;
    position: absolute;
    z-index: 3;
    margin-top: 200vh;
    padding-left: 40vw;
    font-size: 1.6vw;
}


#detbetydernoget {
    width: 100vw;
    position: absolute;
    z-index: 4;
    text-align: center;
    margin-top: 400vh;
    padding: 20vw;
}

#detbetydernoget h1 {font-size: 4vw;
                    line-height: 10vh;}

#vildu  {width: 100vw;
        position: absolute;
        z-index: 4;
        text-align: center;
        margin-top: 500vh;}

#vildu p a {font-weight: bold;}

#kontakter  {display: flex;
            justify-content: center;
            justify-content: space-evenly;
            width: 100vw;
            position: absolute;
            z-index: 4;
            text-align: center;
            margin-top: 550vh;}

/*Pølserækken_____________________________________________________________*/

#polseraekke{
    width: auto;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    height: 645vh;
    background-color: #FFFDF6;
}

#kasse{
    width: 100%;
    height: 1000px;
    background-color: #FFFDF6;
    position: fixed;
    margin-top: 20%;
    z-index: 1;
}

/*STØT HER SIDEN_____________________________________________________________*/
#indhold_stot {
    width: 100vw;
    text-align: center;
    position: absolute;
    z-index: 0;
    top:0;

}

#indhold_stot p{
    font-size: large;
}

#hjerte {
    position: relative;
    z-index: 1;
}

#hvid {
    position: absolute;
    z-index: 2;

    font-weight: normal;
    color: white;
    font-size: small;
    
    width: 100vw;
    margin-top: 50px;
    text-align: center;
}

#stot_h2 {
    font-family: DM;
    color: #ffffff;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size:xx-large;

    width: 100vw;
    text-align: center;
    margin-top: -50px;

    position: absolute;
    z-index: 2;
}

#hvid2 {
    position: absolute;
    z-index: 2;

    font-weight: normal;
    color: white;
    font-size: small;
    
    width: 100vw;
    margin-top: -150px;
    text-align: center;
}

#link {
    text-align: right;
}

#link a{
    font-weight: bold;
}

/*FONT og OVERSKRIFTER_____________________________________________________*/


h1 {
    color: #CB2525;
    font-family: DM;
    letter-spacing: 5px;
    font-size: 2.5vw;
    text-align: center; 
    line-height: 42px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

h2 {
    color: #CB2525;
    font-family: DM;
    letter-spacing: 5px;
    font-size: large;
    text-align: center; 
    line-height: 20px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

.specialitet{
    color: #013789;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

#tid {
    text-align: left;
}

p {
    color: #013789;
    font-family: inter;
    font-weight: lighter;
    font-size: 1vw;
}

/*navigations menu_____________________________________________________________*/

a {
    color: #013789;
    font-family: inter;
    font-weight: lighter;
    white-space: nowrap
}

a:hover{
    color: #CB2525;
}

#aktuelleside {
    color: #CB2525;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black; 
}

#nav{
    font-size: large;  
    position: relative;
    top: 45vh;
    right: 35%;
}

.findvej_gif_vogn{
    z-index: 5;
    position: relative;
    align-items: center;
}

#maps{
    font-family: DM;
    letter-spacing: 2px;
    font-size: large;
    color: #013789;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black; 

    position: relative;
    padding-top: 50px;
    margin-right: 25%;
    margin-bottom: -300px;
    /*padding-bottom: 10px;*/
    z-index: 6;
    margin-top: 14vh;
}

#maps:hover{
    color:#CB2525;
}

#lilletorv{
    opacity: 0;
}

/*Menukort _____________________________________________________________*/

#menu{margin-top: 40vh;}

#menu p {
    font-family: inter;
    font-weight: lighter;
    color:#CB2525;
}

/*pile*/

/*.guide {
    color: #CB2525;
    margin-top: 2%;
    font-size: x-small;
    font-family: inter;
    font-weight: lighter;
}*/

.menu_guide {
    position: relative;
    bottom: 250px;
    left: 40%
}

.menu_guide img {width: 12vw;}

/*MOBIL*/
#mobil_indhold{
    margin: auto;
}

#mobil_indhold p{
    color: #CB2525;
}

#mobil_indhold h1{
    color: #CB2525;
    padding-bottom: 2vh;
    padding-top: 2vh;
}


#maps_mobil{
    font-family: DM;
    letter-spacing: 2px;
    font-size: large;
    color: #013789;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black; 
}

#maps_mobil:hover{
    color:#CB2525;
}

#tider_mobil{
    text-align: left;
    position: absolute;
}

#forpagter_mobil{
    text-align: center;

}

#tid p {
    color: #013789;
}

#specialitet_mobil{
    color: #013789;
}

#info {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* HER STYLES MEDIA QUERY ________________________________________*/


/* MEDIUM SKÆRM */

@media screen and (max-width:1175px){
    #nav{
        display: none;
    }

    #burgermenudiv{
        display: block;
    }

    #header2{display: none;}

    #forside img{
        top: 450px;
        width: 50%;
    }

    #logo{
        width: 12vw;
    }

    header #to_undersider{
        display: none;
    }
    

/* HVEM ER VI SIDEN_____________________________________________________________*/


#forpagter_tekst    {margin-top: 100vh;
                    font-size: 2vw;}

#billede {margin-top: 240vh;}

#billede img {width: 40vw;}

#historie_tekst     {margin-top: 160vh;
                    font-size: 2vw;}


#detbetydernoget {margin-top: 350vh;}

#detbetydernoget h1 {font-size: 3vw;}

#vildu  {margin-top: 460vh;}

#kontakter  {margin-top: 500vh;}}

/* LILLE SKÆRM */

@media screen and (max-width:768px){
    #logo{
        margin-right: 83%;
    }

    h1{
        letter-spacing: 2px;
        line-height: 32px;
    }

    h2{
        letter-spacing: 2px;
        font-size: 15pt;
    }

    #forside img{
        top: 400px;
        width: 80%;
    }

    #eller_bare_kob{
        letter-spacing: 1px;
        font-size: medium;
        line-height: 22px;
    }

    #indhold_stot p{
        font-size: smaller;
    }

    #stot_h2{
        font-size: 5vw;
    }

p {font-size: 2vw;}



    /* HVEM ER VI SIDEN_____________________________________________________________*/

#polsegif{top: 10vh;}
#hvem_overskrift{top: 22vh;}

#forpagter_tekst    {margin-top: 40vh;
                    font-size: 3vw;}

#billede {margin-top: 160vh;}

#billede img {width: 40vw;}

#historie_tekst     {margin-top: 100vh;
                    font-size: 3vw;}


#detbetydernoget {margin-top: 220vh;}

#detbetydernoget h1 {font-size: 4vw;
                    line-height: 4vh;}

#vildu  {margin-top: 300vh;}

#kontakter  {margin-top: 315vh;}}


#polseraekke{
    overflow: hidden;
    height: 400vh;
}